﻿body {
background:url(../../images/background.jpg) no-repeat;
background-size:cover;
}
#productHeader {
    padding:20px;
    margin-top:0px;
color:white;
text-align:center;
background-color:rgba(0,0,0,0.3);
}
.products {
color:#FFFFFF;
margin:auto;
  width: 50%;
  background: rgba(0,0,0,0.7);
    padding-bottom: 10px;
    padding-left:10px;
}
.productName {
margin-top:0;

}