﻿<!DOCTYPE html>
<html lang="en" ng-app="store">
<head>
    <title></title>
    <link href="bootstrap/css/mainstyle.css" rel="stylesheet" />
    <link href="bootstrap/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <section ng-controller="StoreController as store">
        <h1 id="productHeader">PRODUCTS</h1>
        <article ng-repeat="product in store.products" class="products">
            <h1 class="productName">{{product.name}}</h1>
            <h3>Rs {{product.price}}</h3>
            <h5>Description: {{product.description}}</h5>
            <button ng-show="product.canPurchase">Add to Cart</button>

        </article>
    </section> 

    <script src="js/angular.min.js"></script>
    <script src="js/app.js"></script>
</body>
</html>
